div(class="footer__awesome-icons")
    a(href="#" class="footer__twitter fab fa-twitter")
    a(href="#" class="footer__facebook fab fa-facebook-square")
    a(href="#" class="footer__instagram fab fa-instagram")