.logo {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.logo__elem1 {
    width: 4rem;
    height: 4rem;
}

.logo__toxin {
    width: 5.4rem;
    height: 1.3rem;
    margin-left: 1.1rem;
}